<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password reset</title>
</head>
<body>
<!--    <h1>Password Reset {{ username }}</h1>-->
    <h1>Password Reset</h1>
    <form action="/user/password/reset?id={{ user_id }}" method="post">
<!--    <form action="/user/password/reset" method="post">-->
<!--        <input type="text" name="username" value="{{ user.username}}" hidden>-->
        <input type="text" name="new_password" placeholder="input new password">
        <br>
        <button type="submit">submit</button>
    </form>
</body>
</html>