<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login_ajax</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
</head>
<body>
    <h1>登录</h1>
    <h2>你好 {{username}}</h2>
        <input type="text" id="id-input-username" placeholder="请输入用户名">
        <br>
        <input type="text" id="id-input-password" placeholder="请输入密码">
        <br>
        <button id="id-login-submit" class="pure-button pure-button-primary">登录</button>

    <h3>

    </h3>
    <script src="/static?file=gua.js"></script>
    <script src="/static?file=login.js"></script>
</body>
</html>