<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO program</title>
</head>
<body>
    <h1>TODO</h1>
    <form action="/todo/add" method="post">
        <input type="text" name="title" placeholder="请输入todo">
        <br>
        <button type="submit">添加</button>
        <br>
        <a href="/login/view">Login</a>
    </form>
    <div>
        {% for todo in todos %}
        <h3>
            {{ todo.id }} : {{ todo.title }}
            <a href="/todo/edit?id={{ todo.id }}">edit</a>
            <a href="/todo/delete?id={{ todo.id }}">delete</a>
            <br>
            creation:{{ todo.created_time }}, update:{{ todo.updated_time}}
        </h3>
        {% endfor %}
    </div>
</body>
</html>